.lower-right-corner {
    float:right;
}

.fixed-table-toolbar .bs-bars, .fixed-table-toolbar .columns, .fixed-table-toolbar .search
{
  line-height: inherit;
}

.label-purple {
  background-color: #8B2252
}
.label-brown {
  background-color: #993300
}
.label-gray {
  background-color: #CC9933
}
.label-black {
  background-color: #515151
}

.tuto-thumbox {
	height: 60px;
	width: 138px;
	overflow: hidden
}

.tuto-thumbox li {
	display: inline;
}

.tuto-thumbox li a img {
	border: none;
	height: 60px;
	width: 138px;
}

.tuto-thumbox-detail {
	height: 30px;
	width: 60px;
	overflow: hidden
}

.tuto-thumbox-detail ul {
  margin: 1px;
  padding: 1px;
}

.tuto-thumbox-detail li {
	display: inline;
}

.tuto-thumbox-detail li a img {
	border: none;
	height: 30px;
	width: 60px
}
